.menu__btn {
  width: 40px;
  height: 40px;
  background-color: $accent-color;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      background-color: #a33aff;
      .menu__img {
        filter: invert(1);
        transition: 0.5s;
      }
    }
  }
}

.btn-emp-circle {
  width: 40px;
  height: 40px;
  border-color: $accent-color;
  border-style: solid;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &::after {
    content: url(../images/strelka-pink.svg);
    margin-left: 2px;
    margin-top: 2px;
  }
}

.btn-oval {
  font-family: "TT Lakes Bold";
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  width: 119px;
  height: 32px;
  background-color: $accent-color;
  border: none;
  text-transform: uppercase;
  color: $white;
  border-radius: 16px;
  transition: 0.5s;
  cursor: pointer;
  @media (hover: hover) {
    &:hover {
      background-color: #a33aff;
    }
  }
  &::after {
    content: url(../images/strelka.svg);
    margin-right: 10px;
    margin-top: 1px;
  }
}

.burger {
}
.call {
  display: none;
}

.chat {
  display: none;
}

.profile {
  display: none;
}
@media (min-width: 320px) {
  .close {
    display: block;
  }
}

@media (min-width: 768px) {
  .close {
    display: block;
  }
  .call {
    display: block;
  }

  .chat {
    display: block;
  }

  .profile {
    display: block;
    margin-right: 42px;
    &::before {
      content: url(../images/psevdo-el-1.svg);
      position: absolute;
      margin-top: -4px;
      margin-left: 58px;
    }
  }
  .burger {
    margin-right: 40px;
    &::before {
      content: url(../images/psevdo-el-1.svg);
      position: absolute;
      margin-left: 93px;
      margin-top: 2px;
    }
  }
}

@media (min-width: 1440px) {
  .close {
    display: none;
  }
}
