.header {
  // background-color: aquamarine;
  padding: 18px 0px;
  height: 88px;
}

.header__inner {
}

@media (min-width: 320px) {
  .header {
  }
}

.menu {
  min-width: 288px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .header {
    padding: 18px 0px;
  }
}

.menu__wrap {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu__wrap-2 {
  display: flex;
  align-items: center;
  gap: 15px;
}

@media (min-width: 1120px) {
  .header {
    display: none;
  }
}
