.logo {
  position: relative;
  &::after {
    content: url(../images/psevdo-el-1.svg);
    position: absolute;
    margin-left: 16px;
    margin-top: 12px;
  }
}
@media (min-width: 768px) {
  .logo::after {
    content: url(../images/psevdo-el-1.svg);
    position: absolute;
    display: none;
  
  }
  .logo{
    // margin-left: -35px;
  }
}
@media (min-width: 768px) {
  .logo::after {
    content: url(../images/psevdo-el-1.svg);
    position: absolute;
    display: none;
  
  }
  .logo{
    // margin-left: -35px;
  }
}
